 body{
    font-family: 'Raleway', serif;
    background-image: url(/assets/images/white-bricks-wall-texture.jpg);
    background: cover;
 }
 
 h1 {
    text-align: center;
    padding: 20px;
    font-size: 48px;
    background-image: linear-gradient(to bottom right,rgb(2, 63, 81), rgb(8, 191, 247));
    font-family: 'Raleway', serif;
    color:#b4c5c9;
    font-weight:900;
   
}

.card{
    max-width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 200px;

}

span#previous-searches{
    font-size: 16px;
    padding-top: 10px;
    margin-left: 450px;
    margin-top: 10px;
    
}

p{
    text-align: center;
    padding: 24px;
    font-size: 22px;
    font-weight:bolder;
    color: rgb(0, 63, 82);
}

 #search-bar{
  max-width:45%;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  padding-bottom: 7px;
    
    

}

#search-button{
    margin-top: -40px;
    margin-right: 325px;
    display: block;
    
    
}

div.columns.is-mobile{
    justify-content: space-between;
    padding: 30px;
  

}

#book-title{
    font-size: 10px;
    padding-top: 50px;
    margin-left: 190px;
    
}

div.book-column{
    padding: 20px;
    flex: flex-wrap;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    justify-content: center;
    margin-left: 190px;
    color: rgb(163, 89, 4);
 
}

div.book-column p{
    font-size: 12px;
}

div.movie-column p{
    font-size: 12px;
    padding-top: 50px;
    margin-right: 200px;
   
}

div.movie-column{
    display: flex;
    padding: 20px;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 200px;
    color: rgb(163, 89, 4);
    
}