 body{
    font-family: 'Kanit', serif;
    
    
    

 }
 
 h1 {
    text-align: center;
    padding: 20px;
    font-size: 48px;
    background-image: linear-gradient(to bottom right,rgb(2, 63, 81), rgb(8, 191, 247));
    font-family: 'Kanit', serif;
    font-weight: 800;
    color:#b4c5c9;
 }
/* book and movie cards */
.card{
    max-width: 45%;
    justify-content: space-evenly;
    margin-left: 156px;

}
/* previous searches */
span{
    font-size: 20px;
    padding-top: 200px;
    margin-left: 450px;
    margin-top: 0px;
    
}
/* paragraph under header */
p{
    text-align: center;
    padding: 24px;
    font-size: 22px;
    font-weight:bolder;
    color: rgb(0, 63, 82);
}

 #search-bar{
  max-width:100%;
  margin-top: 20px;
  margin-left: 400px;
  padding-bottom: 7px;
    
    

}

#search-button{
    margin-top: 20px;
    margin-left: 402px;
    display: block;
    float: right;
    
    
}
/* container for both book and movie columns */
div.columns.is-mobile{
    justify-content: space-between;
    padding: 30px;
  

}

#book-title{
    font-size: 10px;
    padding-top: 50px;
    margin-left: 190px;
    
}

div.book-column{
    padding: 20px;
    flex: flex-wrap;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    justify-content: center;
    margin-left: 10px;
    color: rgb(163, 89, 4);
    font-weight: 800px;
 
}

div.book-column p{
    font-size: 12px;
}

div.movie-column p{
    font-size: 12px;
    padding-top: 50px;
    margin-right: 200px;
   
}

div.movie-column{
    padding: 20px;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 200px;
    color: rgb(163, 89, 4);
    
}